<!-- anuncios -->
<div class="tm-container">
    <div class="tm-inner">
        <div class="row row-level-1">
            <div class="row-inner clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-inner d-flex justify-content-around">
                        <!-- card 1 -->
                        <div class="col-sm-4">
                            <div class="anuncio card border-left-primary shadow h-40 py-3">
                                <div class="card-body">
                                    <div class="row no-gutters text-justify">
                                        <div class='anuncio'>
                                            <a href="#"><img src="img/bodasPapel.png" alt=""
                                                    class="card-img-top"></a>
                                            <div
                                                class="h3 anuncio-titulo card-title text-left mb-0">
                                                R$ 250,00
                                            </div>
                                            <p class=" h4 text-left card-text">Bodas de Papel
                                            </p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                150 Salgados
                                            </p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                150 Docinhos
                                            </p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                Bolo Decorado
                                                Simples</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                Decoração do
                                                Tema</p>

                                        </div>
                                        <button type="button"
                                            class="buttons col-12 btn border btn-sm btn-info">Detalhes</button>
                                        <button type="button"
                                            class="buttons col-12 border btn btn-success btn-sm">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card 2 -->
                        <div class="col-sm-4">
                            <div class="anuncio card border-left-primary shadow h-40 py-3">
                                <div class="card-body">
                                    <div class="row no-gutters text-justify">
                                        <div class='anuncio'>
                                            <a href="#"><img src="img/noiteBoteco.png" alt=""
                                                    class="card-img-top"></a>
                                            <div
                                                class="h3 anuncio-titulo card-title text-left mb-0">
                                                R$ 180,00
                                            </div>
                                            <p class=" h4 text-left card-text">Noite do Boteco
                                            </p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                200 Salgados
                                                Diversos</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                50 Docinhos
                                            </p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                30 Espetinhos
                                                para Assar</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                Decoração do
                                                Tema</p>

                                            <button type="button"
                                                class="buttons col-12 btn border btn-sm btn-info">Detalhes</button>
                                            <button type="button"
                                                class="buttons col-12 border btn btn-success btn-sm">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card 3 -->
                        <div class="col-sm-4">
                            <div class="anuncio card border-left-primary shadow h-40 py-3">
                                <div class="card-body">
                                    <div class="row no-gutters text-justify">
                                        <div class='anuncio'>
                                            <a href="#"><img src="img/mesversario.png" alt=""
                                                    class="card-img-top"></a>
                                            <div
                                                class="h3 anuncio-titulo card-title text-left mb-0">
                                                R$
                                                300,00</div>
                                            <p class=" h4 text-left card-text">Aniversário 17
                                                anos</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                200
                                                Salgados</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                150
                                                Docinhos</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                Bolo
                                                Decorado Simples</p>
                                            <p
                                                class="card-subtitle text-left text-sm text-muted">
                                                Decoração
                                                do Tema</p>

                                        </div>
                                        <button type="button"
                                            class="buttons col-12 btn border btn-sm btn-info">Detalhes</button>
                                        <button type="button"
                                            class="buttons col-12 border btn btn-success btn-sm">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>