<!-- ### Primeira Fileira -->
<div class="container">
    <anuncio>
        <div class="row row-level-1">
            <div class="row-inner clearfix">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                <div class="col-inner d-flex">

                    <!-- card 1 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/bodasPapel.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Bodas de Papel</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 250,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Salgados, doces, bolo, decoração...
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- Fim card 1 -->

                    <!-- card 2 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="/produtos/produto"><img src="/images/noiteBoteco.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Noite do Boteco</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 180,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Porções, cerveja, molhos...
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- fim card 2 -->


                    <!-- card 3 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/mesversario.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Feliz 17 anos</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 300,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Doces, salgados e decoração
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- # Fim card 3 -->

                    <!-- card 4 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/mesversario.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Feliz 17 anos</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 300,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Doces, salgados e decoração
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- # Fim card 4 -->
                </div>
                <!-- </div> -->
            </div>
        </div>
    </anuncio>
</div>
<!-- ### Segunda Fileira -->
<div class="container">
    <anuncio>
        <div class="row row-level-1">
            <div class="row-inner clearfix">

                <div class="col-inner d-flex">

                    <!-- card 1 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/bodasPapel.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Bodas de Papel</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 250,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Salgados, doces, bolo, decoração...
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- Fim card 1 -->

                    <!-- card 2 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="/produtos/produto"><img src="/images/noiteBoteco.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Noite do Boteco</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 180,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Porções, cerveja, molhos...
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- fim card 2 -->


                    <!-- card 3 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/mesversario.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Feliz 17 anos</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 300,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Doces, salgados e decoração
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- # Fim card 3 -->

                    <!-- card 4 -->
                    <div class="col-sm-3">
                        <card class=" anuncio-box card shadow">
                            <div class="row no-gutters rounded-top">
                                <div class='anuncio text-center'>
                                    <div class="m-1">
                                        <a href="#"><img src="/images/mesversario.png" alt=""
                                                class="img-fluid rounded"></a>
                                    </div>
                                </div>

                                <div class="mt-1 mr-3 mb-2 ml-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <titulo class="text-left card-title">Feliz 17 anos</titulo>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <preco class="text-left">R$ 300,00</preco>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <info class='card-text text-left'>
                                                Doces, salgados e decoração
                                            </info>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn-alt btn btn-sm">Saiba Mais...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </card>
                    </div>
                    <!-- # Fim card 4 -->
                </div>

            </div>
        </div>
    </anuncio>
</div>