<!-- ### Primeira Fileira -->
<div class="container">
    <anuncio>
        <div class="row row-level-1">
            <div class="row-inner clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-inner d-flex">
                        
                        <!-- card 1 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="#"><img src="images/bodasPapel.png" alt=""
                                                    class="img-fluid"></a>
                                            <titulo class="text-center card-title">Bodas de Papel</titulo>
                                        </div>
                                        <preco class="text-center">R$ 250,00</preco>
                                    
                                        <info class='card-text text-left'> 
                                            Kit de decoração para comemorar Bodas de Papel!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>
                        <!-- Fim card 1 -->

                        <!-- card 2 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="/produto"><img src="images/noiteBoteco.png" alt=""
                                                    class="img-fluid"></a>
                                                    <titulo class="card-text text-center">Noite do Boteco</titulo>
                                        </div>
                                        <preco class="text-right">R$ 180,00</preco>
                                        <info class='card-text'> 
                                            Tenha tudo que precisa para receber seus amigos!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>

                        <!-- card 3 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="#"><img src="images/mesversario.png" alt=""
                                                    class="img-fluid"></a>
                                                    <titulo class="card-text text-center">Feliz 17 anos</titulo>
                                        </div>
                                        <preco class="text-right">R$ 300,00</preco>
                                        <info class='card-text'> 
                                            Kit completo aniversários com tema 17 anos!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>                        
                        <!-- # Fim card 3 -->

                              
                    </div>
                </div>
            </div>
        </div>
    </anuncio>
    
</div>
<!-- ### Segunda Fileira -->
<div class="container">
    <anuncio>
        <div class="row row-level-1">
            <div class="row-inner clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-inner d-flex">
                        
                        <!-- card 1 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="#"><img src="images/kit-noivado.png" alt=""
                                                    class="img-fluid"></a>
                                            <titulo class="text-center card-title">Seu Noivado Aqui</titulo>
                                        </div>
                                        <preco class="text-center">R$ 320,00</preco>
                                    
                                        <info class='card-text text-left'> 
                                            Venha comemorar seu Noivado com a gente!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>

                        <!-- card 2 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="#"><img src="images/festa-junina.png" alt=""
                                                    class="img-fluid"></a>
                                                    <titulo class="card-text text-center">Festa Junina</titulo>
                                        </div>
                                        <preco class="text-right">R$ 150,00</preco>
                                        <info class='card-text'> 
                                            Tudo para o Arraiá mais arretado do bairro!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>

                        <!-- card 3 -->
                        <div class="col-sm-4">
                            <card class=" anuncio-box card shadow">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class='anuncio text-center'>
                                            <a href="#"><img src="images/karaoke.png" alt=""
                                                    class="img-fluid"></a>
                                                    <titulo class="card-text text-center">Kit Karaoke</titulo>
                                        </div>
                                        <preco class="text-right">R$ 100,00</preco>
                                        <info class='card-text'> 
                                            Kit completo para você impressionar no Karaoke!
                                        </info>
                                        <button type="button"
                                            class="btn-alt btn btn-sm">Saiba Mais...</button>
                                    </div>
                                </div>
                            </card>
                        </div>                        
                        <!-- # Fim card 3 -->

                              
                    </div>
                </div>
            </div>
        </div>
    </anuncio>
    
</div>