<div class="container">
    <categoria>
        <div class="row row-level-1">
            <div class="row-inner d-flex">
                
                <!-- 1º categoria -->
                <div class="col-sm-3">
                    <card class="categoria-box card shadow text-center">
                        <a href="#">
                                <img src="images/bolo.png" alt="" class="img-fluid">
                                <titulo> Comidas </titulo>
                        </a>
                    </card>
                </div>

                <!-- 2º categoria -->
                <div class="col-sm-3">
                    <card class="categoria-box card shadow text-center"> 
                        <a href="#">
                                <img src="images/acc.png" alt="" class="img-fluid">
                                <titulo> Decorações </titulo>
                        </a>
                    </card>
                </div>

                <!-- 3º categoria -->
                <div class="col-sm-3">
                    <card class="categoria-box card shadow text-center">
                        <a href="#">
                                <img src="images/dj.png" alt="" class="img-fluid">
                                <titulo> Equipamentos </titulo>
                        </a>
                    </card>
                </div>

                <!-- 4º categoria -->
                <div class="col-sm-3">
                    <card class="categoria-box card shadow text-center">
                        <a href="#">
                                <img src="images/promocao.png" alt="" class="img-fluid">
                                <titulo> Promoções </titulo>
                        </a>
                    </card>
                </div>
                <!-- # fim categoria 4 -->
            </div>
        </div>
    </categoria>
</div>