<!-- categorias -->
<div class="tm-container">
    <div class="tm-inner">
        <div class="row row-level-1">
            <div class="row-inner clearfix d-flex justify-content-around">
                <!-- 1º ccategoria -->
                <div class="col-sm-4">
                    <div class="categorias card border-left-primary shadow">
                        <div class="row no-gutters text-justify">
                            <div class='categorias'>
                                <a href="#">
                                    <div class='card-body'>
                                        <img src="images/bolo.png" alt="" class="card-img-top">
                                        <p
                                            class="h6 categorias-titulo text-center font-weight-bold">
                                            Combos de Comida</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2º categoria -->
                <div class="col-sm-4">
                    <div class="categorias card border-left-primary shadow">
                        <div class="row no-gutters text-justify">
                            <div class='categorias'>
                                <a href="#">
                                    <div class='card-body'>
                                        <img src="/images/acc.png" alt="" class="card-img-top">
                                        <p
                                            class="h6 categorias-titulo text-center font-weight-bold">
                                            Combos de Decoração</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>