<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="footer_modules">
            <div class="homebuilder clearfix">
                <div class="tm-container">
                    <div class="tm-inner">
                        <div class="row row-level-1">
                            <div class="row-inner clearfix d-flex justify-content-around">
                                <!-- 1º coluna -->
                                <div class="col-md-3 mx-auto ">
                                    <!-- Links -->
                                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Sobre Nós</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#!">Quem Somos! </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Grid column -->
                                <hr class="clearfix w-100 d-md-none">
                                <!-- 2º coluna -->
                                <div class="col-md-3 mx-auto">
                                    <!-- Links -->
                                    <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Meios de Pagamentos
                                    </h5>
                                    <figure>
                                        <img id="bandeiras" src="./img/bandeiras.gif"
                                            alt="Bandeiras de cartões">
                                    </figure>
                                </div>
                                <!-- Grid column -->
                                <hr class="clearfix w-100 d-md-none">
                                <!-- 3º coluna -->
                                <div class="col-md-2 mx-auto">
                                    <!-- Links -->
                                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Saiba Mais</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#!">Como Comprar</a>
                                        </li>
                                        <li>
                                            <a href="#!">Como Vender</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Grid column -->
                                <hr class="clearfix w-100 d-md-none">
                                <!-- 4º coluna -->
                                <div class="col-md-2 mx-auto">
                                    <!-- Links -->
                                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contato</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#!">Central de Atendimento</a>
                                        </li>
                                        <li>
                                            <a href="#!">Duvidas Frequentes</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>