<!DOCTYPE html>
<html lang="pt-br">
<head>
 <title>Quero Festas | <%= page %></title>
 

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="./stylesheets/style.css">
 <link rel="stylesheet" href="./stylesheets/cartstyle.css">
 <link rel="stylesheet" href="./stylesheets/painelstyle.css">
 <link rel="stylesheet" href="./stylesheets/offerstyle.css">
 <link rel="stylesheet" href="./stylesheets/checkout.css">
 <link rel="stylesheet" href="./stylesheets/categorystyle.css">
 <link rel="stylesheet" href="./stylesheets/form-cadastro-produtostyle.css">
 <link rel="stylesheet" href="./stylesheets/menu-horizontalstyle.css">
 <link rel="stylesheet" href="./stylesheets/menu-horizontal-vendedorstyle.css">
 <link rel="stylesheet" href="./stylesheets/logar.css">
 <link rel="stylesheet" href="./stylesheets/buscarstyle.css">

</head>
