<!DOCTYPE html>
<html lang="pt-br">

<head>
       <title>Quero Festas | <%= page %></title>


       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/grafico.css">
       <link rel="stylesheet" href="/stylesheets/painelstyle.css">
       <link rel="stylesheet" href="/stylesheets/style.css">
       <link rel="stylesheet" href="/stylesheets/offerstyle.css">
       <link rel="stylesheet" href="/stylesheets/categorystyle.css">
       <link rel="stylesheet" href="/stylesheets/menu-horizontal-vendedorstyle.css">
       <link rel="stylesheet" href="/stylesheets/logar.css">
       <link rel="stylesheet" href="/stylesheets/checkout.css">
       <link rel="stylesheet" href="/stylesheets/carrinhostyle.css">
       <link rel="stylesheet" href="/stylesheets/navbar.css">
       <link rel="stylesheet" href="/stylesheets/busca.css">
       <link rel="stylesheet" href="/stylesheets/breadcrumb.css">
       <link rel="stylesheet" href="/stylesheets/showProduto.css">
       <link rel="stylesheet" href="/stylesheets/showLoja.css">
       <link rel="stylesheet" href="/stylesheets/cardProdutos.css">
       <link rel="stylesheet" href="/stylesheets/carrinho.css">
       <link rel="stylesheet" href="/stylesheets/index.css">
</head>