
<!-- MENU LATERAL -->
<div id="menu">
    <ul class="navbar-nav sidebar accordion" id="menuLateral">
        <a class="sidebar-brand align-items-right justify-content-right" href="#">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"></a>
            <div class="sidebar-brand-icon rotate-n-15">
                <button class="rounded-circle border-0" id="hamburguer">
                    <img src="images/hamburguer.png" width="30px" height="30px" alt="hamburguer">
                </button>

                <br><br><br>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#aniversario" data-toggle="collapse"
                        data-target="#aniversario" aria-expanded="false" aria-controls="aniversario">
                        <span>Aniversário</span></a>
                    <div id="aniversario" class="collapse">
                        <div class="bg-white ml-4 mr-2 py-2 px-2 collapse-inner rounded">
                            <a class="collapse-item" href="#">Mesversário</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <br><br><br>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#bodas" data-toggle="collapse"
                        data-target="#bodas" aria-expanded="false"
                        aria-controls="bodas">
                        <span>Bodas</span>
                    </a>
                    <div id="bodas" class="collapse">
                        <div class="bg-white ml-4 mr-2 py-2 px-2 collapse-inner rounded">
                            <a class="collapse-item" href="#">Papel</a><br>
                            <a class="collapse-item" href="#">Madeira e Ferro</a><br>
                            <a class="collapse-item" href="#">Estanho ou Zinco</a><br>
                            <a class="collapse-item" href="#">Cristal</a><br>
                            <a class="collapse-item" href="#">Porcelana</a><br>
                            <a class="collapse-item" href="#">Prata</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <br><br><br>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#datasEspeciais" data-toggle="collapse"
                        data-target="#datasEspeciais" aria-expanded="true"
                        aria-controls="datasEspeciais">
                        <span>Datas Especiais</span>
                    </a>
                    <div id="datasEspeciais" class="collapse">
                        <div class="bg-white ml-4 mr-2 py-2 px-2 collapse-inner rounded">
                            <a class="collapse-item" href="#">Dia das Mães</a><br>
                            <a class="collapse-item" href="#">Dia dos Pais</a><br>
                            <a class="collapse-item" href="#">Dia dos Namorados</a><br>
                            <a class="collapse-item" href="#">Dia das Crianças</a><br>
                            <a class="collapse-item" href="#">Pascoa</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <br><br><br>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#comemoracoes" data-toggle="collapse"
                        data-target="#comemoracoes" aria-expanded="false"
                        aria-controls="comemoracoes">
                        <span>Comemorações</span>
                    </a>
                    <div id="comemoracoes" class="collapse">
                        <div class="bg-white ml-4 mr-2 py-2 px-2 collapse-inner rounded">
                            <a class="collapse-item" href="#">Happy Hour</a>
                            <a class="collapse-item" href="#">Confraternização</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            </div>
        </a>
    </ul>
</div>
<!-- FIM DO MENU LATERAL -->