<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb4 static-top shadow row">
    <!-- COMPONENTES DO NAVBAR -->
    <div class="container">
        <!-- LOGO -->
        <div class="col">
            <a class='navbar-brand' href="/"><img class='logo_nav w-25 ml-3' src="/images/logo_atual.png"
                    alt="logo"></a>
        </div>

        <ul class="navbar-nav ml-auto">
            <!-- BARRA DE PESQUISA -->
            <li class="nav-item no-arrow mx-1">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 
            navbar-search" action="" method="">
                    <div class="input-group">
                        <input type="search" class="form-control bg-light border-0 medium" placeholder="Buscar"
                            aria-label="Search" aria-describebedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="/produtos/buscar">
                                <button class="btn" type="button">
                                    <img src="/images/lupa.png" width="20px" height="20px" alt="lupa">
                                </button>
                            </a>
                        </div>
                    </div>
                </form>

            </li>
            <!-- CARRINHO -->
            <li class="nav-item dropdown no-arrow  mx-1">
                <a class="nav-link dropdown-togger" href="/pedidos/carrinho" id="carrinho" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/images/carro-vazio.png" width="30px" height="30px" alt="carrinho"></a>
            </li>
            <!-- LOGIN -->
            <li class="nav-item dropdown no-arrow show">
                <a class="nav-link dropdown-togger" href="#" id="login" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="nav-link dropdown-toggle text-gray-600 medium">Login</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in " aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/usuarios/cadastro">Cadastrar</a>
                    <a class="dropdown-item" href="/usuarios/logar">Logar</a>
                </div>
            </li>
        </ul>
        <!-- FIM DOS ELEMENTOS DO NAVBAR -->

    </div>
</nav>
<!-- FIM DO NAVBAR -->