<!-- MENU HORIZONTAL VENDEDOR -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="navbar navbar-expand-lg navbar-light rounded-right" id="menu-horizontal-vendedor">
              
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="minhaLoja" data-toggle="collapse"
                    data-target="#minhaLoja" aria-expanded="true" aria-controls="minhaLoja">
                    <span>Minha Loja</span></a>
                <div id="minhaLoja" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Configuração</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="produtos" data-toggle="collapse"
                    data-target="#produtos" aria-expanded="true"
                    aria-controls="produtos">
                    <span>Produtos</span>
                </a>
                <div id="produtos" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">Cadastrar</a><br>
                        <a class="collapse-item" href="#">Editar</a><br>
                        <a class="collapse-item" href="#">Lista</a>                        
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="pedidos" data-toggle="collapse"
                    data-target="#pedidos" aria-expanded="true"
                    aria-controls="pedidos">
                    <span>Pedidos</span>
                </a>
                <div id="pedidos" class="collapse">
                    <div class="bg-white px-2 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">A confirmar</a><br>
                        <a class="collapse-item" href="#">Finalizados</a>                        
                    </div>
                </div>
            </li>            
          </ul>
          
        </div>
      </nav>

</div>   

<!-- FIM DO MENU HORIZONTAL -->