<table class="table">
    <thead>
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Data</th>
        <th scope="col">Total</th>
        <th scope="col">Pagamento</th>
        <th scope="col">Entrega</th>
        <th scope="col">Status</th>
        <th scope="col"> </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">12345</th>
        <td>12/06/2020</td>
        <td>200,00</td>
        <td>Aprovado</td>
        <td>20/06/2020</td>
        <td>Em Andamento</td>
        <td>Mais detalhes</td>
      </tr>
      <tr>
        <th scope="row">12345</th>
        <td>12/06/2020</td>
        <td>200,00</td>
        <td>Aprovado</td>
        <td>20/06/2020</td>
        <td>Em Andamento</td>
        <td>Mais detalhes</td>
      </tr>
      <tr>
        <th scope="row">12345</th>
        <td>12/06/2020</td>
        <td>200,00</td>
        <td>Aprovado</td>
        <td>20/06/2020</td>
        <td>Em Andamento</td>
        <td>Mais detalhes</td>
      </tr>
    </tbody>
  </table>