<% include partials/header %> 

<body>
    <div class="page">
        <% include partials/menu %>   
            
        <!-- CONTEÚDO PRINCIPAL -->
        <div class="container"> 
            <div class="row ">
                <% include partials/menu-horizontal %>
                <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                    <div class="homebuilder clearfix"> 
                        <div class="tm-container">
                            <div class="tm-inner">
                                <div class="row row-level-1">
                                    <div class="row-inner clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-inner">
                                                <%include partials/anuncios %>
                                            </div>             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
            </div>
        </div>
    </div>

    </div>
    
</body>

