<% include partials/header %>

<body>
    <div class="page">
        <% include partials/menu %>

        <!-- CONTEÚDO PRINCIPAL -->
        <div class="container">
            <div class="row">
                <% include partials/menu-horizontal %>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="homebuilder clearfix"> 
                        <!-- CONTAINER CAMINHO DAS PAGINAS -->
                        <div class="tm-container">
                            <div class="tm-inner">
                                <div class="row row-level-1">                      
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row-inner clearfix">
                                            <div class="col-inner d-flex justify-content-around">
                                                <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                                    <!-- CAMINHO DAS PAGINAS -->
                                                    <div class="col-sm-11 mx-5">
                                                        <nav aria-label="breadcrumb">
                                                            <ol class="breadcrumb rounded shadow-sm" id="caminho-paginas">
                                                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                                                <li class="breadcrumb-item active" aria-current="page"><a href="/buscar">Buscar</a></li>                        
                                                            </ol>
                                                        </nav>
                                                    </div>
                                                    <!-- FIM CAMINHO DAS PAGINAS -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIM CONTAINER CAMINHO DAS PAGINAS -->

                        <!-- CONTAINER ITEM PESQUISADO -->
                        <div class="tm-container">
                            <div class="tm-inner">
                                <div class="row row-level-1">                      
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row-inner clearfix">
                                            <div class="col-inner d-flex justify-content-around">
                                                <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                                    <!-- ITEM PESQUISADO -->
                                                    <div class="col-sm-11 mx-5">
                                                        <h4>
                                                            <strong>Aniversario 18 anos</strong> 
                                                            <small>(
                                                                <span id="resultado-numero">6</span>
                                                                produtos encontrados )
                                                            </small>
                                                        </h4>
                                                    </div>
                                                    <!-- FIM ITEM PESQUISADO -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIM CONTAINER ITEM PESQUISADO -->

                        <!-- CONTAINER ORDENAR POR -->
                        <div class="tm-container">
                            <div class="tm-inner">
                                <div class="row row-level-1">                      
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row-inner clearfix">
                                            <div class="col-inner d-flex justify-content-around">
                                                <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                                    <!-- ORDENAR POR -->
                                                    <div class="col-sm-5 mx-5">
                                                        <label>Ordenar por</label>
                                                        <select name="ordenar" id="ordenar" class="submit-on-change">
                                                            <option value="">Todos os produtos</option>
                                                            <option value="">Menor Preço</option>
                                                            <option value="">Maior Preço</option>
                                                        </select>
                                                    </div>
                                                    <!-- FIM ORDENAR POR -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIM CONTAINER ORDENAR POR -->
                        
                        <!-- ITENS ACHADOS -->
                        <div class="mx-5">
                            <% include partials/anuncios %>
                        </div>
                        <!-- FIM ITENS ACHADOS -->
                                                
                        
                    </div>
                </div>            
            </div>
        </div>
    </div>
</body>

