<% include partials/header %>
        <link rel="stylesheet" href="./stylesheets/logar.css">
        

</head>



   
        <div class="wrapper fadeInDown">
            <div id="formContent">
                        <!-- Tabs Titles -->
  
                        <!-- Icon -->
                    <div class="fadeIn first">
                    <img src="images/logo_atual.png" id="icon" alt="User Icon" />
                    </div>
  
                        <!-- Login Form -->
                        <form>
                            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Insira seu nome completo">
                            <input type="text" id="password" class="fadeIn third" name="login" placeholder="insira seu E-mail">
                            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Confirmar E-mail">
                            <form>
                            <input  type="password" id="password" class="fadeIn third" name="senha" placeholder="Criar Senha">
                            </form>
                            <input type="submit" class="fadeIn fourth" value="Log In">
                        </form>
  
                        <!-- Remind Passowrd -->
                            <div id="formFooter">
                            <a class="underlineHover" href="#">Não possuo cadastro</a>
                            </div>
  
                </div>
       
         </div>
        
    </div>
    
    