<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/form-cadastro-produtostyle.css">

<body>
  <div class="page">
    <%- include('partials/navbar') %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div id="meio-home" class="container">
      <div class="row ">
        <!-- Caminho pagina -->
        <%- include('partials/breadcrumb') %>

        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div id="painel-cliente" class="container center">

            <div class="card card-body ml-5 mr-5" id="borda">

              <div class="row">
                <div class="col-4">
                    <h4>Cadastro de Produto</h4>
                </div>
              </div>

              <div class="text-right">
                <!-- Formulário -->
                <form id="form" action="/produtos/cadastrar-produto" method="POST" enctype="multipart/form-data">
                  <div class="row ml-2">
                    <div class="col-3">                      
                      <label for="file-input">
                        <img src="/images/quadro.png" alt="">
                        <input id='file-input' class='file-input' type='file' name='file' onchange="newInput(this)" multiple='multiple' >                        
                      </label>
                    </div>

                    <div class="col-8">
                      <div class="col-12">
                        <div id="preview">
                          
                        </div>
                      </div>
                    </div>                    
                  </div>      
    
                  <!-- NOME -->
                  <div class="form-group row">
                    <label for="nomeP" class="col-3 col-form-label">Nome</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="nomeP" name="nomeP">
                    </div>
                  </div>
                  <!-- PREÇO -->
                  <div class="form-group row">
                    <label for="preco" class="col-3 col-form-label">Preço</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" id="preco" name="preco">
                    </div>
                  </div>
                  <!-- CATEGORIA -->
                  <!-- <div class="form-group row">
                      <label for="inputCategorias" class="col-3 col-form-label">Categorias</label>
                      <div class="col-sm-8">
                        <select class="form-control" id="inputCategorias" name="categorias">
                          <option>Aniversario</option>
                          <option>Bodas de Casamento</option>
                          <option>Datas Especiais</option>
                          <option>Comemorações</option>
                        </select>
                      </div>
                    </div> -->
                  <!-- DESCRIÇÃO -->
                  <div class="form-group row">
                    <label for="descricaoP" class="col-3 col-form-label">Descrição</label>
                    <div class="col-sm-8">
                      <textarea class="form-control" id="descricaoP" name="descricaoP" rows="3"></textarea>
                    </div>
                  </div>

                  <!-- não esta reconhecendo no ejs -->
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <% if(err != 0){ %>
                        <p><%= err%></p>
                        <% } %>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-link btn-sm text-success">Cadastrar
                          Produto</button>
                        <button type="submit" class="btn btn-link btn-sm text-danger">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
         
        </div>
        <script>      
          function previewImages() {

            var preview = document.querySelector('#preview');

            if (this.files) {
              [].forEach.call(this.files, readAndPreview);
            }

            function readAndPreview(file) {

              if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
              } 
              
              var reader = new FileReader();
              
              reader.addEventListener("load", function() {
                var image = new Image();
                image.height = 100;
                image.title  = file.name;
                image.src    = this.result;
                preview.appendChild(image);              
              });
              
              reader.readAsDataURL(file);            
            }

          }

          document.querySelector('#file-input').addEventListener("change", previewImages);   

        </script>
      </div>
    </div>
  </div>
  <%- include('partials/script') %>
</body>