<% include partials/header %>
<link rel="stylesheet" href="../stylesheets/form-cadastro-produtostyle.css">
<body>
    <div class="page">
        <% include partials/menu-logado %>
        
        <!-- CONTEÚDO PRINCIPAL -->
        <div class="container">      
          <div class="row ">
            <!-- MENU -->
            <% include partials/menu-horizontal %> 
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="homebuilder clearfix"> 
                <!-- CONTAINER CAMINHO DAS PAGINAS -->
            <div class="tm-container">
              <div class="tm-inner">
                  <div class="row row-level-1">                      
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="row-inner clearfix">
                              <div class="col-inner d-flex justify-content-around">
                                  <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                      <!-- CAMINHO DAS PAGINAS -->
                                      <div class="col-sm-12">
                                          <nav aria-label="breadcrumb">
                                              <ol class="breadcrumb rounded shadow-sm" id="caminho-paginas">
                                                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                                                  <li class="breadcrumb-item active" aria-current="page"><a href="/cadastrar-produto">Cadastrar Produto</a></li>                        
                                              </ol>
                                          </nav>
                                      </div>
                                      <!-- FIM CAMINHO DAS PAGINAS -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- FIM CONTAINER CAMINHO DAS PAGINAS -->


                <div class="tm-container">
                  <!-- CONTAINER FORMULARIO DAS FOTOS -->
                  <div class="tm-inner">
                    <div class="row row-level-1">                      
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="row-inner clearfix">
                            <div class="col-inner d-flex justify-content-around">
                              <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                <!-- FORMULARIO FOTOS -->
                                <form id="form-img" class="bg-light rounded col-sm-12 shadow mb-5 bg-white rounded d-inline-flex ml-5 p-2">
                                  <div class="form-group d-inline p-2">
                                    <label for="img-input1">
                                      <img src="/images/sem-foto.png" class="shadow mb-1 ml-3">                                    
                                      <input type="file" class="form-control-file" id="img-input1">
                                    </label>
                                  </div>
                                  <div class="form-group d-inline p-2">
                                    <label for="img-input2">
                                      <img src="/images/sem-foto.png" class="shadow mb-1 ml-3">                                    
                                      <input type="file" class="form-control-file" id="img-input2">
                                    </label>
                                  </div>
                                  <div class="form-group d-inline p-2">
                                    <label for="img-input3">
                                      <img src="/images/sem-foto.png" class="shadow mb-1 ml-3">                                    
                                      <input type="file" class="form-control-file" id="img-input3">
                                    </label>
                                  </div>
                                  <div class="form-group d-inline p-2">
                                    <label for="img-input4">
                                      <img src="/images/sem-foto.png" class="shadow mb-1 ml-3">                                    
                                      <input type="file" class="form-control-file" id="img-input4">
                                    </label>
                                  </div>
                                  <div class="form-group d-inline p-2">
                                    <label for="img-input5">
                                      <img src="/images/sem-foto.png" class="shadow mb-1 ml-3">                                    
                                      <input type="file" class="form-control-file" id="img-input5">
                                    </label>
                                  </div>                                
                                </form>  
                                <!-- FIM FORMULARIO FOTOS -->
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FIM CONTAINER FORMULARIO DAS FOTOS -->
                  
                  <!-- CONTAINER FORMULARIO -->
                  <div class="tm-container">
                    <div class="tm-inner">
                      <div class="row row-level-1">                      
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <div class="row-inner clearfix">
                              <div class="col-inner d-flex justify-content-around">
                                <div id="content" class="col-sm-12 col-md-12 col-lg-12">
                                  <!-- FORMULARIO -->
                                  <form class="bg-light rounded col-sm-12 ml-5 shadow p-3 mb-5 bg-white rounded"> 
                                    <!-- NOME -->
                                    <div class="form-group row">
                                      <label for="inputNome" class="col-sm-3 col-form-label">Nome</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputNome">
                                      </div>
                                    </div>
                                    <!-- VALOR -->
                                    <div class="form-group row">
                                      <label for="inputValor" class="col-sm-3 col-form-label">Valor</label>
                                      <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputValor">
                                      </div>
                                    </div>
                                    <!-- CATEGORIA -->
                                    <div class="form-group row">
                                      <label for="inputCategorias" class="col-sm-3 col-form-label">Categorias</label>
                                      <div class="col-sm-9">
                                        <select class="form-control" id="inputCategorias">
                                          <option>Aniversario</option>
                                          <option>Happy Hour</option>
                                          <option>Confraternização</option>
                                          <option>Bodas de Casamento</option>
                                          <option>Só pra não passar em branco</option>
                                        </select>                                  
                                      </div>
                                    </div>
                                    <!-- DESCRIÇÃO -->
                                    <div class="form-group row">
                                      <label for="inputDescricao" class="col-sm-3 col-form-label">Descrição</label>
                                      <div class="col-sm-9">
                                        <textarea class="form-control" id="inputDescricao" rows="3"></textarea>
                                      </div>
                                    </div>
                                    <!-- FRETE -->
                                    <fieldset class="form-group">
                                      <div class="row">
                                        <legend class="col-form-label col-sm-3 pt-0">Frete</legend>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioFrete" id="radioComFrete" value="opcao1">
                                          <label class="form-check-label" for="radioComFrete">Com Frete</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="radioFrete" id="radioSemFrete" value="opcao2">
                                          <label class="form-check-label" for="radioSemFrete">Frete Grátis</label>
                                        </div>
                                      </div>
                                    </fieldset>                              
                                    <div class="form-group row">
                                      <div class="col-sm-12">
                                        <div class="d-flex justify-content-end">
                                          <button type="button" class="btn btn-link btn-sm text-success">Cadastrar Produto</button>
                                          <button type="button" class="btn btn-link btn-sm text-danger">Cancelar</button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  <!-- FIM FORMULARIO -->
                                </div> 
                              </div>                                  
                          </div>
                        </div>                        
                      </div>
                    </div>
                  </div>
                  <!-- FIM CONTAINER -->
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>        
</body>
