<% include partials/header %>

<body>
    <% include partials/menu-logado %>   
            
    <!-- CONTEÚDO PRINCIPAL -->
    <div id="meio-home" class="container"> 
        <div class="row ">
            <div class="menu-lateral">
                <% include partials/menulateral %>
            </div>
            <div id="content" class="col-sm-8 col-md-9 col-lg-9">
                <div class="homebuilder clearfix"> 
                    <div class="tm-container">
                        <div class="tm-inner">
                            <div class="row row-level-1">
                                <div class="row-inner clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-inner">
                                            
                                            <div class="tm-container">
                                                <div class="tm-inner">
                                                    <div class="row row-level-1">
                                                        <div class="row-inner clearfix d-flex justify-content-around">
                                            
                                            
                                            <!-- foto 1 -->
                                            <div class="col-sm-4"> 
                                                <div class="categorias card border-left-primary shadow">
                                                    <div class="row no-gutters text-justify">
                                                        <div class='card-body'>
                                                            <img src="images/bolo.png" alt="" class="card-img-top">                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- foto 2-->
                                            <div class="col-sm-4"> 
                                                <div class="categorias card border-left-primary shadow">
                                                    <div class="row no-gutters text-justify">
                                                        <div class='card-body'>
                                                            <img src="images/bolo.png" alt="" class="card-img-top">                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- foto 3-->
                                            <div class="col-sm-4"> 
                                                <div class="categorias card border-left-primary shadow">
                                                    <div class="row no-gutters text-justify">
                                                        <div class='card-body'>
                                                            <img src="images/bolo.png" alt="" class="card-img-top">                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- foto 4-->
                                            <div class="col-sm-4"> 
                                                <div class="categorias card border-left-primary shadow">
                                                    <div class="row no-gutters text-justify">
                                                        <div class='card-body'>
                                                            <img src="images/bolo.png" alt="" class="card-img-top">                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- foto 5-->
                                            <div class="col-sm-4"> 
                                                <div class="categorias card border-left-primary shadow">
                                                    <div class="row no-gutters text-justify">
                                                        <div class='card-body'>
                                                            <img src="images/bolo.png" alt="" class="card-img-top">                                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>* Limite de 5 fotos <br> Formato jpg</p>


                                            <div id="cadastrar-produto" class="container">
                                                <div class="card painel-dash border-left-primary shadow">
                                                    <div class="card-body painel-dash">
                                                        
                                                        <!-- <div class="row">                                                            
                                                            <div class='col-8 text-right'>
                                                                 <button class="btn btn-alt">Alterar Dados</button> 
                                                            </div>                                           
                                                             
                                                        </div> -->
                                                        
                                            
                                                        <!-- <div class="painel-dados row"> -->
                                                              
                                                            
                                                            <!-- <div class='col-8'> -->
                                                                <!-- <div class="row text-left"> -->
                                                                    <!-- <div class="text-left col-3"> -->

                                                                        <form>
                                                                            


                                                                            <div class="form-group row"> 
                                                                              <label for="nome" class="col-sm-4 col-form-label">Nome:</label>
                                                                              <div class="col-sm-8">                                                                                
                                                                                <input type="text" readonly class="form-control" id="nome">
                                                                              </div>                                                                              
                                                                            </div>

                                                                            <div class="form-group row">
                                                                              <label for="nome" class="col-sm-4 col-form-label">Valor:</label>
                                                                              <div class="col-sm-8">
                                                                                <input type="text" readonly class="form-control" id="nome">
                                                                              </div>
                                                                            </div>

                                                                            <div class="form-group row"> 
                                                                                <label for="nome" class="col-sm-4 col-form-label">Categoria:</label>
                                                                                <div class="col-sm-8">                                                                                
                                                                                  <input type="text" readonly class="form-control" id="nome">
                                                                                </div>                                                                              
                                                                              </div>

                                                                              <div class="form-group row"> 
                                                                                <label for="nome" class="col-sm-4 col-form-label">Descrição:</label>
                                                                                <div class="col-sm-8">                                                                                
                                                                                  <input type="text" readonly class="form-control" id="nome">
                                                                                </div>                                                                              
                                                                              </div>

                                                                              <div class="form-group row"> 
                                                                                <label for="nome" class="col-sm-4 col-form-label">Frete:</label>
                                                                                <div class="col-sm-8">                                                                                
                                                                                  <input type="text" readonly class="form-control" id="nome">
                                                                                </div>                                                                              
                                                                              </div>

                                                                              <div class="row">                                                            
                                                            <div class='col-8 text-right'>
                                                                 <button class="btn btn-alt">Cadastrar Produto</button>                                                                  
                                                            </div>    
                                                            <div class='col-12 text-right'>
                                                                 <button class="btn btn-alt">Cancelar</button>                                                                  
                                                            </div>  
                                                                              </div>                                     
                                                             
                                                        
                                                                          </form>
                                                                        <!-- <p>Slogan:</p>
                                                                        <p>Descrição:</p>
                                                                    </div>
                                                                    <div class="text-left col-9 text-primary">
                                                                        <p>Decorações para todo tipo de festa</p>
                                                                        <p>Nossa loja trabalha com decorações para comemorações como aniversários, e confraternizações.
                                                                        Não trabalhamos com kits de alimentos!</p>
                                                                    </div>
                                                                </div> -->
                                            
                                                                <!-- Divider -->
                                                                <!-- <hr class="sidebar-divider my-0">
                                            
                                                                <div class='row text-left'>
                                                                    <div class="text-left col-3">
                                                                        <p>Endereço:</p>
                                                                        <p>Cidade:</p>
                                                                        <p>CEP:</p>
                                                                    </div>
                                                                    <div class="text-left col-9 text-primary">
                                                                        <p>Minha Rua, 110, apto 20 - Meu Bairro</p>
                                                                        <p>Guarulhos - SP</p>
                                                                        <p>07296-000</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div> -->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</body>
