<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/carrinhostyle.css">

<body>
  <div class="page-carrinho">
    <%- include('partials/navbar') %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div class="container">
      <!-- CONTAINER CAMINHO DAS PAGINAS -->
      <%- include('partials/breadcrumb') %>
      <!-- FIM CONTAINER CAMINHO DAS PAGINAS -->

      <div class="row produtos">
        <h5>Meu carrinho</h5>
        <div class="page-carrinho-produtos"></div>
        <div class="fechamento">
          <span>Total: R$0.00</span>
          <button onclick="navegarCheckout()">Continuar</button>
        </div>
      </div>

      <div class="row compre-tambem">
        <h3>Compre Também</h3>
        <div class="produtos">

        </div>
      </div>
    </div>
</body>
<%include partials/footer-alt %>
<%include partials/script %>

</html>