 <% include partials/header %> 
 <link rel="stylesheet" href="../stylesheets/cartstyle.css">
<body>
  <div class="page">
    <% include partials/menu-logado %>

    <!-- CONTEÚDO PRINCIPAL -->
    <div class="container">
      <div class="row">
        <!-- MENU -->
        <% include partials/menu-horizontal %> 
        <div class="container">
          <div class="wrap cf">
         
              <div class="heading cf">
                <h1 class='col-8'>Finalização do Pedido</h1>
                  <!-- <a href="#" class="continue"> -->
                  <a href ='/'>
                  <button class='btn btn-cheio col-4'>Continuar Comprando</button>
                </a>
              </div>
              <div class="cart">
      
                <ul class="cartWrap">
                  <li class="items odd">
                    
                <div class="infoWrap"> 
                    <div class="cartSection">
                    <img src='./images/combo1.png' alt="" class="itemImg" />
                    <h3><p class="itemNumber">Combo Festa Premium</p></h3>
                      <p>Torta marfim de morango<br />
                      200 salgados<br />
                      200 docinhos<br />
                      3 Refrigerantes 2LT<br /></p>
                      <p> <input type="text"  class="qty" placeholder="1"/> x R$437.00</p>
                    
                      <p class="stockStatus"> Em estoque</p>
                    </div>  
                
                    
                    <div class="prodTotal cartSection">
                      <p>R$437.00</p>
                    </div>
                          <div class="cartSection removeWrap">
                       <a href="#" class="remove">x</a>
                    </div>
                  </div>
                  </li>
                  <li class="items even">
                    
                   <div class="infoWrap"> 
                    <div class="cartSection">
                     
                    <img src="./images/combo1.png" alt="" class="itemImg" />
                    <h3><p class="itemNumber">Combo Confraternização</p></h3>
                      <p>70 salgados (6 tipos)<br />
                      1.5kg biscoito de queijo<br />
                      10 mini panetones (2 sabores)<br />
                      2 Refrigerantes 2LT<br />
                      1 suco 1LT<br /></p>
                    
                       <p> <input type="text"  class="qty" placeholder="1"/> x R$128.90</p>
                    
                      <p class="stockStatus"> Em estoque</p>
                    </div>  
                
                    
                    <div class="prodTotal cartSection">
                      <p>R$128.90</p>
                    </div>
                          <div class="cartSection removeWrap">
                       <a href="#" class="remove">x</a>
                    </div>
                  </div>
                  </li>
                  
                
             
                </ul>
              </div>
              
              <div class="promoCode row"><label for="promo">Tem um cupom?</label>
                <input type="text" name="promo" placholder="Insira aqui o código" />
              <a href="#" class="btn">
              </a></div>
              
              <div class="subtotal cf">
                <ul>
                  <li class="totalRow"><span class="label">Produtos</span><span class="value">R$565.90</span></li>
                  
                      <li class="totalRow"><span class="label">Frete</span><span class="value">R$20.00</span></li>
                  
      
                        <li class="totalRow final"><span class="label">Total</span><span class="value">R$585.90</span></li>
                  <!-- <li class="totalRow"><a href="#" class="btn continue">Finalizar Compra</a></li> -->
                </ul>
                <div class=" cf text-right">
                  <a href ='/finalizacao'>
                    <button class='btn btn-cheio'>Finalizar Compra</button>
                  </a>
                </div>
                  
              </div>
            </div>
        </div>  

      </div>
    </div>
    
    

  </div>
    </body>
    <%include partials/footer-alt %>
    <%include partials/script %>
</html>