<% include partials/header %> 
<link rel="stylesheet" href="../stylesheets/checkout.css">
<body>
<% include partials/menu-logado %>

<!-- <div class="menu-lateral"> -->
    <% include partials/menu-horizontal %>
<!-- </div> -->
<div class="body-checkout container">
  
  <p class="finalizacao">Finalização do Pedido</p>

  <div class = "ret51">
    
      
  </div>

  <p class="confirmar">Confirmar Endereço</p>
  <p class="editar">Editar</p>
  <p class="line"></p>

  <div class = "checkout2">
      
  </div>

  <p class="detalhe">Detalhes do Pedido</p>
  <p class="linedet"></p>
  <a href='/'>
    <p class="btn btn-alt cancelar">Cancelar Pedido</p>
  </a>

  <div class = "checkout3">
      
  </div>

  <p class="opcao">Opção de Envio</p>
  <p class="lineopt"></p>
        
  <div class = "checkout4">
        
  </div>

  <p class="optpag">Opção de Pagamento</p>
  <p class="lineoptpag"></p>

  <div class = "checkout5">
      
  </div>
  <a href='/cart'>
    <p class="btn continuar">Voltar</p>
  </a>
  

  <div class = "checkout6">
      
  </div>
    <a href='/confirmacao'>
      <p class="btn confirmarped">Finalizar</p>
    </a>
    
  
</div>
