<% include partials/header %>
<body>	
	<!-- PAGINA COMPLETA -->
	<div class="page">
		<% include partials/menu-logado %>
		
		<!-- CONTEÚDO PRINCIPAL -->
		<div id="meio-home" class="container">      
			<div class="row ">
				<% include partials/menulateral %>               
			</div> 
		</div> 
</body>
</html>