<% include partials/header %> 
<body>
<% include partials/menu-logado %>

<div class="menu-lateral">
    <% include partials/mlateral-cliente %>
</div>

<p class="finalizacao">Confirmação do Pedido</p>

<div class = "ret55">
    
</div>

<p class="confirmar">Confirmação do Pedido</p>

<p class="linec"></p>

<p class="numpedconf">Pedido N XXXXXXXXXXXXXXX</p>

<p class="descconf">Seu pedido foi finalizado com sucesso.
    Enviaremos um email com as informações da sua compra.
    Agradecemos pela preferência.
</p>

<div class = "ret58">
    
</div>

<p class="voltar">Voltar</p>

