<% include partials/header %> 
<link rel="stylesheet" href="../stylesheets/checkout.css">
<body>
<% include partials/menu-logado %>

<!-- <div class="menu-lateral"> -->
    <% include partials/menu-horizontal %>
<!-- </div> -->

<p class="finalizacao-2">Confirmação do Pedido</p>

<div class = "ret55">
    
</div>

<p class="confirmar-2">Confirmação do Pedido</p>

<p class="linec"></p>

<p class="numpedconf text-center">Pedido 10001234</p>

<p class="descconf text-center">Seu pedido foi finalizado com sucesso!<br>
    Enviaremos um email com as informações da sua compra.<br>
    Agradecemos pela preferência!
</p>

<div class = "ret58">
    
</div>
<a href='/'>
    <p class="btn voltar">Voltar</p>
  </a>


