<% include partials/header %>

<!-- incluindo charts js -->
<script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.9.3,npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<body>
    <!-- PAGINA COMPLETA -->
    <div class="page">
       
        <%- include('partials/navbar') %>

            <!-- Grafico de pedidos -->
            <div class="grafico">
                <canvas class="line-chart"> </canvas>
            </div>

            <!-- Grafico Financeiro -->
            <div class="grafico">
                <canvas class="bar-chart"> </canvas>
            </div>

        <script>
                var ctx = document.getElementsByClassName("line-chart");

                // tipo, data e opções
                var chartGraph1 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Out","Nov","Dez"],
                datasets:[
                    {
                    label: "Visão geral dos pedidos no ano",
                    data: [30,10,50,35],
                    borderWidth: 6,
                    borderColor: 'rgba(77,166,253,0.85)',
                    backgroundColor: "transparent",
                    },
                    {
                    label: "Pedidos Cancelados",
                    data: [10,40,150,35,470,75],
                    borderWidth: 6,
                    borderColor: 'rgba(6,204,6,0.85)',
                    backgroundColor: "transparent",
                    },
                ]
            },
                options:{
                    title:{
                        display: true,
                        fontSize:20,
                        text: "Relatorio de Vendas"
                    },
                    labels:{
                        fontStyle:"bold"
                    }
                
                }
            });

            // Grafico de barras

            var ctx = document.getElementsByClassName("bar-chart");

                // tipo, data e opções
                var chartGraph2 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Out","Nov","Dez"],
                datasets:[
                    {
                    label: "Ganho Anual",
                    data: [30,10,50,35],
                    borderWidth: 6,
                    borderColor: 'rgba(77,166,253,0.85)',
                    backgroundColor: "transparent",
                    },
                    {
                    label: "Ganho Mensal",
                    data: [10,40,150,35,470,75],
                    borderWidth: 6,
                    borderColor: 'rgba(6,204,6,0.85)',
                    backgroundColor: "transparent",
                    },
                ]
            },
                options:{
                    title:{
                        display: true,
                        fontSize:20,
                        text: "Relatorio Financeiro"
                    },
                    labels:{
                        fontStyle:"bold"
                    }
                
                }
            });

        </script>

        <% include partials/footer-alt %>
    </div>
</body>
<% include partials/script %>

</html>