<% include partials/header %>

<body>
    <!-- PAGINA COMPLETA -->
    <div class="page">
        <%- include('partials/navbar.ejs') %>

        <!-- FIM DO MENU HORIZONTAL -->
        <div class="painel-erro container text-center">
            <div class="col-12 text-center">
                <div class="card painel-dash">
                    <div class="card-body">
                        <h1>Oops! Parece que algo deu errado!</h1>
                        <h2>Não conseguimos encontrar a página que você buscou!</h2>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
        </div>
        <% include partials/footer %>
        <% include partials/script %>
</body>