<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu-logado %>

<div class="menu-lateral">
    <% include partials/mlateral-vendedor %>
</div>


<!-- CONTEÚDO PRINCIPAL -->
<div id="painel-vendedor" class="container">
    <h1>Painel Vendedor </h1>

    <div class='painel-metricas'>
            <!-- ### Card de Ganhos -->
            <div class="card painel-dash border-left-primary shadow col-3">
                <div class="card-body">
                    <h4>Ganhos (Mensais)</h4>
                    <h2>R$ 10.000</h2>
                </div>
            </div>

            <!-- ### Card de Ganhos Anuais -->
            <div class="card painel-dash border-left-primary shadow col-3">
                <div class="card-body">
                    <h4>Ganhos (Anuais)</h4>
                    <h2>R$ 10.000</h2>
                </div>
            </div>

            <!-- ### Card de Tarefas -->
            <div class="card painel-dash border-left-primary shadow col-3">
                <div class="card-body">
                    <h4>Tarefas</h4>
                    <h2>50%</h2>
                </div>
            </div>

            <!-- ### Card de Pedidos Pendentes -->
            <div class="card painel-dash border-left-primary shadow col-3">
                <div class="card-body">
                    <h4>Pedidos Pendentes</h4>
                    <h2>18</h2>
                </div>
            </div>
            
    </div>

    <div class='painel-graf'>
        <!-- ### Card Grafico de Ganhos -->
        <div class="card painel-dash border-left-primary shadow col-8">
            <div class="card-body">
                <h5>Visão Geral de Ganhos</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>

        <!-- ### Card Grafico Fonte de Renda -->
        <div class="card painel-dash border-left-primary shadow col-4">
            <div class="card-body">
                <h5>Fontes de Renda</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>

    <div class='painel-graf'>
        <!-- ### Card Pedidos Pendentes -->
        <div class="card painel-dash border-left-primary shadow col-6">
            <div class="card-body">
                <h5>Pedidos Pendentes</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>

        <!-- ### Card Vendas Concluidas -->
        <div class="card painel-dash border-left-primary shadow col-6">
            <div class="card-body">
                <h5>Vendas Concluídas</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>


    <div class='painel-graf'>
        <!-- ### Card Clientes Recentes -->
        <div class="card painel-dash border-left-primary shadow col-6">
            <div class="card-body">
                <h5>Clientes</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>

        <!-- ### Card Avaliacoes -->
        <div class="card painel-dash border-left-primary shadow col-6">
            <div class="card-body">
                <h5>Avaliações</h5>
                <h6 class='text-muted'>Em Breve...</h6>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>



    <!-- ### CARD DE MUDAR PERFIL -->
    <div class="card painel-dash border-left-primary shadow">
        <div class="card-body painel-dash">
            <h3>Alterar para Vendedor</h3>
        </div>
    </div>
    <br><br>
<!-- ### Fazer Footer Geral -->
    <h6>Copyright Quero Festa - 2020</h6>    
</div>
