#confirmar-endereco {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    gap: 1.5%;
    margin-inline: 3%;    
}

.checkout {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
}

.checkout h6 {
    color: #6887E3;
}

.btn-cancelar {
    color: #F64343; 
}

.btn-comprando {
    color: #36B9CC; 
}

.btn-confirmar {
    color: #44D19E; 
}

#cinza {
    color: #777777;
}

.btn-voltar {
    background-color: #FFFFFF;
    color: #44D19E;
}

#corRosa {
    color: #FF826E;
}

#letraP {
    font-size: 20px;
    color: #777777;
}

#bordaVerde {
    border: 1px #44D19E solid;
}

#bordaAzul {
    border: 1px #36B9CC solid;
    
}