
.containerGrafico {
    max-width: 900px;
    max-height: 650;
    margin: 0 auto; 
    
    border: #E67E22 1px solid;   
}

.grafico { 
    text-align: center;
 } 

 #laranja {
    border-color: rgb(230, 126, 34) 1px solid;
    color: rgb(230, 33, 33);
 }

 #bordaVerde {
    border: 1px #44D19E solid;
}

#verde {
    color: rgb(68, 209, 158);
}
#azul{
    color: rgb(54, 185, 204);
}