#top-links {
    float: left;
    height: 56px;
}

.toggle_cont li a span{
    display: inline-block;
    text-decoration: none;
}

#menu-horizontal {
    background-color: #FF826E;
    border: 20px;    
}

.nav-item a span {
    color: #FFF3D7;
}