#avatar-produto {
    border-radius: 10%;
    display: inline;
    
}

#painel-cliente {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    gap: 1.5%;
    margin-inline: 3%;
}

#borda {
    border: 1px #FF826E solid;
}

#nomeLojaPedido {
    color: #FF826E;
}

#pagamentoCor {
    color: #FF826E;
}

#endereco tbody tr td{
    font-size: 18px;
}

#painel-publico {
    position: relative;
    display: grid;
    /* flex-wrap: wrap; */
    gap: 1.5%;
    margin-inline: 3%;
}

.painel-dash {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    display: grid;
}

.painel-dash-pedido {
    border-radius: 10px;
    border: 1px #FF826E solid;   
}

.painel-dados {
    display: flex;
    position: float;
    padding: 2%;
}

#painel-vendedor {
    position: relative;
    display: grid;
    flex-wrap: wrap;
    gap: 1.5%;
    margin-inline: 3%;
}

.painel-metricas {
    display: inline-flex;
    float: left;
    gap: 0.5%;
    
}

.painel-graf {
    display: flex;
    float: left;
    gap: 1.5%
}

canvas {
    width: 50px;
    height: 50px;
}

form label img{
    width: 15%;
    margin-top: 10px;
    margin-left: 5px;
    display: block;
    cursor: pointer;
}

form label input[type='file']{
display: none;
}

#borda div.card.card-body fieldset span{
    padding-left: 15px;
} 