div#meio-home {
  flex-direction: column; }
  div#meio-home .row {
    margin-bottom: 20px; }
  div#meio-home div.produto {
    background-color: #fff;
    border: 1px solid #FF826E;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    div#meio-home div.produto .carrossel-produto {
      width: calc((100% - 40px) / 2 ); }
    div#meio-home div.produto .infos {
      width: calc((100% - 40px) / 2 );
      display: flex;
      flex-flow: column wrap; }
      div#meio-home div.produto .infos .header-produto {
        margin-bottom: 16px; }
      div#meio-home div.produto .infos .dados-produto {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly; }
        div#meio-home div.produto .infos .dados-produto p {
          width: 100%;
          text-align: left;
          color: #777; }
        div#meio-home div.produto .infos .dados-produto .loja {
          font-weight: bold;
          color: #777;
          width: 100%;
          margin-bottom: 16px; }
          div#meio-home div.produto .infos .dados-produto .loja a {
            color: #FF826E; }
        div#meio-home div.produto .infos .dados-produto .preco {
          color: #FF826E;
          font-size: 1.5em;
          font-weight: bold;
          margin-right: 8px; }
        div#meio-home div.produto .infos .dados-produto button {
          background-color: #FF826E;
          border: none;
          height: 40px;
          color: #F8F8F8;
          font-weight: 700;
          letter-spacing: 1px;
          border-radius: 7px;
          padding: 4px 8px;
          outline: none;
          cursor: pointer; }
        div#meio-home div.produto .infos .dados-produto a {
          color: #FF826E;
          font-weight: 500; }
  div#meio-home div.avaliacoes {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #fff;
    border: 1px solid #FF826E;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem;
    display: flex;
    flex-flow: row wrap; }
    div#meio-home div.avaliacoes h4 {
      width: 100%;
      text-align: center; }
    div#meio-home div.avaliacoes h4.header-avaliacoes {
      margin-bottom: 16px; }
    div#meio-home div.avaliacoes h4.header-comentarios {
      margin-top: 32px;
      margin-bottom: 0px; }
    div#meio-home div.avaliacoes div.avaliacoes-individuais {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: center; }
      div#meio-home div.avaliacoes div.avaliacoes-individuais div.avaliacao {
        margin: 0px 8px; }
    div#meio-home div.avaliacoes div.comentarios {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      width: 100%; }
      div#meio-home div.avaliacoes div.comentarios div.comentario {
        background-color: #f8f8f8;
        max-width: calc((100% - 20px) / 2);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 16px 5px 0px 5px;
        border-radius: 10px;
        padding: 16px 0px; }
        div#meio-home div.avaliacoes div.comentarios div.comentario a {
          text-align: center;
          margin-right: 16px;
          color: #FF826E;
          font-weight: bold; }
        div#meio-home div.avaliacoes div.comentarios div.comentario div.avaliacao {
          margin: 0px;
          margin-right: 16px; }
        div#meio-home div.avaliacoes div.comentarios div.comentario span {
          color: #333; }
        div#meio-home div.avaliacoes div.comentarios div.comentario p {
          width: 100%;
          text-align: center;
          margin: 8px 0px 0px 0px;
          padding: 0px 8px;
          color: #333; }

@media screen and (max-width: 991px) {
  div#meio-home div.avaliacoes div.avaliacoes-individuais {
    flex-direction: column; }
  div#meio-home div.avaliacoes div.comentarios div.comentario a {
    width: 100%;
    margin-right: 0px; } }
@media screen and (max-width: 767px) {
  div#meio-home div.produto {
    flex-direction: column; }
    div#meio-home div.produto div.carrossel-produto {
      width: 100%;
      margin-bottom: 16px; }
    div#meio-home div.produto div.infos {
      width: 100%; } }
@media screen and (max-width: 575px) {
  div#meio-home {
    padding: 0px 10px; } }
@media screen and (max-width: 500px) {
  div#meio-home div.avaliacoes div.comentarios div.comentario {
    width: 100%;
    max-width: 100%; }
    div#meio-home div.avaliacoes div.comentarios div.comentario div.avaliacao {
      margin-right: 0px; }
    div#meio-home div.avaliacoes div.comentarios div.comentario span {
      width: 100%;
      text-align: center; } }

/*# sourceMappingURL=showProduto.css.map */
