div.page-loja div#meio-home div.row {
  margin-bottom: 20px; }
div.page-loja div#meio-home div.loja {
  background-color: #fff;
  border: 1px solid #FF826E;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.25rem;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  div.page-loja div#meio-home div.loja img {
    width: calc((100% - 40px) / 2); }
  div.page-loja div#meio-home div.loja .infos {
    width: calc((100% - 40px) / 2 );
    display: flex;
    flex-flow: column wrap; }
    div.page-loja div#meio-home div.loja .infos .header-loja {
      position: relative;
      margin-bottom: 16px; }
    div.page-loja div#meio-home div.loja .infos .dados-loja p {
      width: 100%;
      text-align: left;
      color: #777; }
    div.page-loja div#meio-home div.loja .infos .dados-loja .proprietario {
      font-weight: bold;
      color: #777;
      width: 100%;
      margin-bottom: 16px; }
    div.page-loja div#meio-home div.loja .infos .dados-loja a {
      color: #FF826E;
      font-weight: bold; }
div.page-loja div#meio-home .row.produtos-loja {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px solid #FF826E;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.25rem;
  margin-left: 0px;
  margin-right: 0px; }
  div.page-loja div#meio-home .row.produtos-loja h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 16px; }

div#page-editar-loja {
  display: flex;
  flex-direction: column; }
  div#page-editar-loja div.form-editar-loja {
    background-color: #fff;
    border: 1px solid #FF826E;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center; }
  div#page-editar-loja form {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    div#page-editar-loja form h4 {
      text-align: center;
      width: 100%;
      margin-bottom: 16px; }
    div#page-editar-loja form label {
      width: 100%;
      margin-bottom: 16px; }
      div#page-editar-loja form label input {
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        margin-top: 8px; }
      div#page-editar-loja form label textarea {
        height: 158px;
        width: 100%;
        padding: .375rem .75rem;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        margin-top: 8px; }
    div#page-editar-loja form button {
      background-color: rgba(0, 0, 0, 0.5);
      color: #F8F8F8;
      height: 40px;
      border: none;
      text-align: center;
      padding: 0 10px;
      border-radius: 7px;
      font-weight: 700;
      letter-spacing: 1px; }
    div#page-editar-loja form button:hover {
      background-color: #FF826E;
      cursor: pointer; }

@media screen and (max-width: 767px) {
  div.page-loja div#meio-home div.loja {
    flex-direction: column; }
    div.page-loja div#meio-home div.loja img {
      width: 100%;
      margin-bottom: 16px; }
    div.page-loja div#meio-home div.loja div.infos {
      width: 100%; } }
@media screen and (max-width: 576px) {
  .row.produtos-loja {
    margin: 10px; } }

/*# sourceMappingURL=showLoja.css.map */
