* {
    box-sizing: border-box;
}

body {
    background-color: #EDEEF1;
}

#content {
    display: inline-flex;
    float: right;
}

.sidebar {
    width: 14rem!important; 
    min-height: 100vh; 
}

.sidebar-divider {
    margin-right: 29px;
    margin-left: 29px;
}

.collapse div {
    background-color: #fca99d; 
}

.collapse-item {
    color: #FFF3D7;  
}

.container {
    display: flex;
}

/* categoria */
.row-inner {
    margin-top: 25px;    
}

/* FOOTER */
 footer {
    font-family: Sedan SC;
	background-color: #F8F9FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;     	 
}

footer-alt {
    font-family: Sedan SC;    	 
}

#bandeiras {
	width: 90%;
	height: 50%;
	margin-right: 10px;
	padding: 0;
	border: 0%;
} 

  /* # Configuração dos Botoes  */
.btn-cheio {
    background-color: #FF826E;
}

.btn-alt {
    color: #FF826E;
    background-color: transparent ;
    border-top: none;
    border-bottom-color:  none;
}

/* # Configuração de Fontes */
.pagina-titulo {
    font-size: 40px;
    font-family: sedan sc;
    font-weight: bold;
    color: #fcd770;
    text-decoration: border;
    text-shadow: -1px 0 #FF826E, 0 1px #FF826E, 1px 0 #FF826E, 0 -1px #FF826E;
}

/* # Configuração Pagina Erro */
.painel-erro {
    position: relative;
    align-content: center;
    top: 10px;
}

